
.gallery-form {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
    background: #daf4f8;
}

.gallery-thumbnail-img {
    width: 100%;
}

.drop {
    padding: 15px;
    border: 2px #044852 dashed;
    border-radius: 5px;
    line-height: 34px;
    background: #daf4f8;
}
.drop.drag-over {
    background: #068092;
    color: #fff
}
.transfer-box {
    margin-bottom: 5px;
}
.transfer-box .progress {
    margin-bottom: 0;
}

